<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body>

<nav th:fragment="header" class="site-header">

    <div class="site-container header-inner">

        <!-- BRAND -->
        <a class="site-brand" th:href="@{/}">

            <img
                th:src="@{/images/birdielogo.png}"
                src="/images/birdielogo.png"
                alt="Bye Bye Birdie logo"
                class="site-logo"
        />

        </a>


        <!-- MAIN NAVIGATION -->
        <div class="site-nav">

            <a class="site-nav-link"
               th:href="@{/subforum(sub=4)}">
                Discussions
            </a>

            <a class="site-nav-link"
               th:href="@{/wiki/species}">
                Species
            </a>

            <a class="site-nav-link"
               th:href="@{/wiki/bird}">
                Birds
            </a>


            <!-- LOGGED-IN USER OPTIONS -->
            <div sec:authorize="isAuthenticated()"
                 class="user-nav">

                <a class="site-nav-link"
                   th:href="@{/user}">
                    Profile
                </a>

                <span class="user-greeting"
                      th:text="'Hello, ' + ${currentUser}">
                    Hello, user
                </span>

                <form th:action="@{/action_logout}"
                      method="post"
                      class="logout-form">

                    <button type="submit"
                            class="logout-button">
                        Logout
                    </button>

                </form>

            </div>


            <!-- LOGGED-OUT USER OPTIONS -->
            <div sec:authorize="!isAuthenticated()">

                <a class="login-button"
                   th:href="@{/loginform}">
                    Login / Register
                </a>

            </div>

        </div>

    </div>

</nav>

</body>
</html>